body {
  font-family:'Roboto', sans-serif;
	font-size: 75%;
}

a:link {
  color: black;
  text-decoration:none;
}

a:visited{
	color:black;
	text-decoration:none;
}

a:hover{
	background: #FFD700;
	color:black;
  text-decoration:none;
}

a:active {
  color: black;
  text-decoration:none;
}

#menu {
  /*position: fixed;*/
	background-color: LightSlateGrey ;
	text-align: center;
	font-size:110%;
}

.menu-link:link {
	color:white;
	text-decoration:none;
}

.menu-link:visited {
	color:white;
	text-decoration:none;
}

.menu-link:hover {
	background: #FFD700;
	color: LightSlateGrey;
}

.menu-link:active {
	color:white;
	text-decoration:none;
}

.audioplayer {
  position: relative;
	margin-top:0.75%;
  margin-bottom:5%;
}

.backHome {
  position: fixed;
  font-size:100%;
  left: 0;
  bottom: 6%;
  width: 100%;
  text-align: center;
}

.backHome_img {
  position: sticky;
  font-size:100%;
  left: 33%;
  bottom: 6%;
  width: 100%;
  text-align: center;
}

#footer{
  position: fixed;
  font-size:80%;
  left: 0;
  bottom: 0.2%;
  width: 100%;
  text-align: center;
}

#footer_img{
  position: sticky;
  font-size:80%;
  left: 0;
  bottom: 0.2%;
  width: 100%;
  text-align: center;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
